.app-container {
    margin: auto;
}

.heading-title {
    text-align: center;
    padding: 20px;
    font-family: 'pacifico';
    letter-spacing: 2px;
    background-color: #FCC200
}

h4 {
    padding: 10px;
    font-family: 'proxima Nova';
}

.preview-boxes {
    display: flex;
}

.display-box {
    margin: auto;
    width: 100%;
    text-align: center;
}

.input-style {
    width: 640px;
    min-height: 200vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
}

.output-style {
    width: 640px;
    min-height: 200vh;
    background-color: #DCDCDC;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
  };

  button {
    margin: 10px;
    border-radius: 5px;
    background-color: red;
  }

  .editor-buttons {
      width: 100%;
      margin:auto;
  }

  .clear-editor {
      background-color: #F0B800;
      border-radius: 5px;
      margin: auto;
      padding: 5px;
      font-family: 'proxima Nova';
      margin: 10px;
  }

  .replace-placeholder {
    background-color: #F0B800;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    font-family: 'proxima Nova';
    margin: 10px;
  }