.app-container {
    margin: auto;
}

.heading-title {
    text-align: center;
}

.preview-boxes {
    display: flex;
}

.display-box {
    margin: auto;
    width: 100%;
    text-align: center;
}

.input-style {
    width: 600px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
}

.output-style {
    width: 600px;
    height: 100vh;
    background-color: #DCDCDC;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
  };
